<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro.Core" version="3.1.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Caliburn.Micro.Xamarin.Forms" version="3.1.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="DLToolkit.Forms.Controls.FlowListView" version="2.0.6" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms" version="2.3.4.267" targetFramework="portable45-net45+win8+wpa81" />
</packages>